header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background: url("../img/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(33, 20, 44, 0.7);
        z-index: 0;
    }
}
