.slider {
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin: 1.5em auto;
    justify-content: center;

    .arrow {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        cursor: pointer;
    }
}

.items {
    display: flex;
    align-items: baseline;
    overflow: hidden;

    .item {
        display: inline-block;
        width: 30%;
        position: relative;
        margin: 2em;

        img {
            max-height: 200px;
            margin: 0 auto;
            margin-bottom: 3em;
        }

        p:nth-child(3) {
            font-weight: 300;
        }

        a {
            display: inline-block;
            color: $secondary-color;
            margin-top: 1em;
        }

    }
}
