//Colors
$primary-color: #fff;
$secondary-color: #392D3B;
$primary-accent: #DB5252;
$secondary-accent: #48A3BF;

//Typography
$roboto: Roboto,
sans-serif;

//Font Sizes
$large: 3rem;
$medium: 2rem;

//Media Queries
$large-screen: 1020px;
$medium-screen: 680px;
$small-screen: 410px;